
<h3 class="mb-4">
  <code>Watch your Network tab (F12)</code>
</h3>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">User Id</th>
    <th scope="col">Title</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of posts">
    <th>{{ p.id }}</th>
    <td>{{ p.userId }}</td>
    <td>{{ p.title }}</td>
    <td>
      <button type="button" class="btn btn-danger" (click)="deletePost(p)">Delete</button> &nbsp;
      <button type="button" class="btn btn-primary">View</button>
    </td>
  </tr>
  </tbody>
</table>

